@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-xl text-center mt-6 font-bold sm:text-3xl;
  }

  h4 {
    @apply text-lg mt-6 mb-1 font-semibold;
  }
}

@layer components {
}

@layer utilities {
  .hide-scroll {
    -ms-overflow-style: none;
  }
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  /* react-slick custom dots */
  .dots_custom {
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    display: flex !important;
    gap: 2px;
  }

  .dots_custom li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 6px;
    padding: 0;
  }

  .dots_custom li button {
    border: none;
    background: white;
    opacity: 0.7;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    padding: 0;
  }

  .dots_custom li.slick-active button {
    width: 16px;
    border-radius: 4px;
  }
}
